.product{
    width: 100%;
    margin-bottom: 70px;

    .product_heading{
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        color: #16a63d;
        font-size: 20px;
        font-weight: bold;

        h5{
            font-size: 50px;
            color: #263a4f;
            margin-bottom: 20px;
            font-weight: 600;
        }
    }

    .product_main{
        width: 100%;
        margin-bottom: 30px;
        background-color: #16a63d;
        // height: 400px;
        padding: 30px;
        padding-bottom: 50px;
        box-shadow: 0px 0px 20px rgb(167, 155, 155);
    

        .swiper {
            width: 90%;
            height: 350px;
         
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 28px;
            background:#fff;
            color: #16a63d;
            font-weight: bold;

            h4{
                font-size: 30px;
                color: #263a4f;
                margin-bottom: 15px;
            }
          
          
          }
      
          .swiper-slide img {
            // display: block;
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
    }
}